language: node_js
node_js:
 - "node"
env:
 - NPM_TOKEN=977a5fe4-f902-4bd6-97a1-3db4c005272b
before_install:
 - printf "@zibtek:registry=http://192.168.249.152:8080\n//192.168.249.152:8080/:_authToken=${NPM_TOKEN}" >> ~/.npmrc
